@model List<MovieApp.Models.CustomMovie>

@{
    ViewData["Title"] = @ViewBag.title;
}
<div class="bg-video-wrap">
            <video src="/videos/lacasa.mp4#t=15" muted>
            </video>
            <div class="overlay">
            </div>
            <h1 class="hh">Coming soon...</h1>
</div>
